<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
          <li><a href="./components.html" title="">05 : Components</a></li>
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./index.html" title="" class="active">001</a></li>
            <li><a href="./index.html" title="">002</a></li>
            <li><a href="./index.html" title="">003</a></li>
            <li><a href="./index.html" title="">004</a></li>
            <li><a href="./index.html" title="">005</a></li>
            <li><a href="./index.html" title="">006</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">001 : Stock Dashboard</h1>
          </div>
            <br>
          <p>Stock dashboard for visualising stocks of the FAANG companies and predicting stock price. The dashboard was created using python, dash and scikit-learn, The goal of the project was to provide users with an interactive dashboard for displaying various graphs which can be downloaded and to give an option to compare companies as well as to predict the close price based on the open price.</p>
            <p>In a world where investing in the stock market can be in a snap of the finger bypassing brokers, commissions and delay of information, it has become much easier to lose your fortunes in the snap of the finger.
<br><br>
Ever since the digital era began, access to information was widespread however similarly the information being spread had no filters. Similarly many people invest in the stock market because of a certain “tip” they received online from a self proclaimed guru claiming the stock would soar high and make them financially independent. However, in reality, the majority of these tips were professional “pump and dump” schemes used in certain penny stocks which resulted in the ordinary investors' wealth being wiped off.
<br><br>
Although there are several programs and websites that do offer such information, it is important to know that the average investor is not savvy and does not understand how the data functions and what it represents. Unfortunately most are not bothered either to understand as it requires time and energy to study and understand.
<br><br>
By using a series of different data representations, I have developed a web based solution which not only shows complex data but with the assistance of our complex algorithms, one can predict the stock price based on historical data.
</p>
            <!--
          <blockquote>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
            <small class="pull-right">Irina Martin</small>
          </blockquote> -->

        </div>
          <div style="text-align: center;">
          <div>
            <video width="1000" height="900" controls>
                <source src="./static/assets/stock-analysis-iot.mov" type="video/mp4">
                Your browser does not support the video tag.
                </video>
            </div>
              </div>
      </div>

      
      <!--
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/work001-02.jpg" class="img-responsive" alt="">
            <p>Menphis skyline</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/work001-03.jpg" class="img-responsive" alt="">
            <p>Menphis skyline</p>
          </div>
        </div>
      </div> -->

        <!--
      <div class="col-xs-12">
        <img src="./static/assets/work001-04.jpg" class="img-responsive" alt="">
      </div>

        <div>
            <video width="1200" height="900" controls>
                <source src="./static/assets/stock-analysis-iot.mov" type="video/mp4">
                Your browser does not support the video tag.
                </video>
            </div> -->

    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <p>© GITHUB | Repository <a href="https://github.com/rishabhrao12/crypto-stock-analysis" title="Create website with free html template">crypto-stock-analysis</a>/<a href="https://github.com/rishabhrao12" title="Beautiful Free Images">rishabhrao12</a></p>
       
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>